.Statistik_main{
        background-color: aqua;
        height: 500px;
        width: 1000px; 
        padding-top: 5%;
        padding-bottom: 5%;
        margin: 0 auto;
        border-radius: 5%;
    

}