#bottom button{
    color:rgb(44, 152, 214);
    margin: 10%;
    width: 30vw;
    height: 50px;
    margin-top: 3%;

}



.modal{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.modal li {
    list-style: none;
}

.modal ul li:hover {
    font-weight: bold;
    cursor: pointer;
}
