#foot #footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

#foot{
    background-color:#01FFFF;
    margin-top: 4rem;
    height: 8rem;
}

#foot #footerContainer ul li{
    list-style: none;
    font-size: larger;
    font-weight: bold;
}

#foot #footerContainer ul {
    list-style: none;
    display: flex;
    
}



