#foot #footerContainer {
    width: 100%;
    
    

}

#foot{
    background-color:#01FFFF;
    margin-top: 4rem;
    height: 8rem;
}

#foot #footerContainer ul li{
    list-style: none;
    
}

#foot #footerContainer ul {
    list-style: none;
    display: flex;
    
}



