.progress-container {
    width: 80%; /* Nimmt 80% der Ansichtsbreite ein */
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin: 50px auto; /* Zentriert den Container horizontal */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Neue Positionierung für Stapelkontext */
}

.progress-bar {
    height: 80px;
    width: 50%; /* Startet bei 0%, wächst nach rechts */
    background-color: transparent;
    position: relative;
    text-align: center; /* Zentriert den Text */
    line-height: 50px; /* Zentriert den Text vertikal */
    color: white;
    border-radius: 25px;
    overflow: hidden;
    transition: width 1s ease-in-out; /* Glatter Übergang für das Wachstum */
}

.progress-percentage {
    position: relative; /* Damit es über den anderen Elementen bleibt */
    z-index: 10; /* Höchster z-index */
    color:coral;
    font-weight: bold;
    font-size: 1.5rem;;
}

.lava-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 25px;
    z-index: 1; /* Niedriger z-index, damit es hinter der Prozentanzeige bleibt */
}

.lava {
    width: 600px;
    height: 600px;
    position: absolute;
    top: -250px;
    left: -150px;
    background: radial-gradient(circle, #006400, #228B22, #32CD32, #00FF00);
    animation: lava-movement 5s infinite linear;
    border-radius: 50%;
    z-index: 1; /* Lava auch hinter der Prozentanzeige */
}

@keyframes lava-movement {
    0% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(50px) translateY(30px);
    }
    50% {
        transform: translateX(-30px) translateY(-50px);
    }
    75% {
        transform: translateX(40px) translateY(-20px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}
