.profile img{
    height: 70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
}

#nav {
    width: 100%;
    background-color: blue;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

